#card > div {
    /* Add shadows to create the "card" effect */
    display: inline;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
  }
  
  /* On mouse-over, add a deeper shadow */
  /* #card:hover {
    transform: scale(1.05);
    overflow: hidden;
  } */
  
  /* Add some padding inside the card container */
  #card > div {
    padding: 2px 16px;
   
  }

  #card {
      display: flex;
      padding: 20px;
      flex-wrap: wrap;
      /* transition: transform .2s; */
  }