
* {
    box-sizing: border-box;
    /* padding: 0px;
    margin: 0px;
    max-width: 100%; */
    }
    body {
    margin: 0px;
    margin: 0px;
    font-family: 'segoe ui';
    }
    .nav-title>a{
        color: white;
        text-decoration: none;
      }
